<div class="text-center">
  <img class="img-fluid" src="{{product.img}}" alt=""/>
  <div>{{product.name}}</div>
  <div>{{product.price}}</div>
  <button class="btn btn-success" (click)="onBuyClicked()">Buy</button>
</div>
