<div class="order">
  <p class="d-flex justify-content-between font-weight-bold text-justify text-uppercase border-bottom">
    <span>Order Total:</span>
    <span>{{order.getTotal() | currency}}</span>
  </p>

  <p class="d-flex justify-content-between">
    <span>Subtotal:</span>
    <span>{{order.getSubtotal() | currency}}</span>
  </p>

  <p class="d-flex justify-content-between"
     *ngFor="let tax of order.getTaxes()"
  >
    <span>{{tax.label}}:</span>
    <span>{{tax.total | currency}}</span>
  </p>
</div>
