<div class="page-bag">

  <div class="row">
    <div class="col-12 col-lg-10">
      <h1 class="mb-3 border-bottom">{{title}}</h1>

      <div
        class="mb-3"
        *ngFor="let product of getItems()"
      >
        <app-product-item-row
          [product]="product"
          (removeClicked)="onRemoveClicked($event)"
        ></app-product-item-row>
      </div>

      <div class="mb-3" *ngIf="!getItems().length">
        There is no items in your bag!
      </div>
    </div>

    <div class="mb-3 col-12 col-lg-2">
      <app-order [order]="getOrder()"></app-order>
    </div>
  </div>
</div>

