<div class="container-fluid">
  <nav class="nav row justify-content-center">
    <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    <a class="nav-link" routerLink="/bag">Bag</a>
  </nav>

  <div class="app-messages">
    <div *ngFor="let message of messageService.getMessages()">
      <ngb-alert [type]="message.type" (close)="messageService.remove(message.id)">{{ message.text }}</ngb-alert>
    </div>
  </div>

  <router-outlet></router-outlet>
  <ngx-spinner></ngx-spinner>
</div>
