<h1 class="mb-5 border-bottom">{{title}}</h1>

<div *ngIf="products && products.length">
  <div class="row">
    <div
      class="mb-5 col-12 col-md-6 col-lg-4"
      *ngFor="let product of products.slice((page - 1) * size, size * page)"
    >
      <app-product-item
        [product]="product"
        (buyClicked)="onBuyClicked($event)"
      ></app-product-item>
    </div>
  </div>

  <ngb-pagination
    class="mt-3 mb-3 d-flex justify-content-end"
    [collectionSize]="products.length"
    [(page)]="page"
    [pageSize]="size"
    [directionLinks]="true"
    [ellipses]="true"
    size="sm"
  ></ngb-pagination>
</div>
