<div class="row">
  <div class="col-3">
    <img class="img-fluid" src="{{product.img}}" alt=""/>
  </div>
  <div class="col-6">
    <p>{{product.name}}</p>
    <p>Color: {{product.color}}</p>
    <p>
      <b>QTY: {{product.count}}</b>
    </p>
  </div>
  <div class="col-3">
    <p>{{product.price | currency}}</p>
    <p>
      <button class="btn btn-success" (click)="onRemoveClicked()">Remove</button>
    </p>
  </div>
</div>
